@page "/bookings"



@using global::GarageAI.Application.Bookings.Queries.GetBookings
@using global::GarageAI.Web.Services

@inject BookingApiService BookingApiService

<PageTitle>Bookings</PageTitle>

<h3>Bookings</h3>

@if (bookings == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">

        <thead>
            <tr>
                <th>Customer</th>
                <th>Registration</th>
                <th>Vehicle</th>
                <th>Date</th>
                <th>Package</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var booking in bookings)
            {
                <tr>
                    <td>@booking.CustomerName</td>
                    <td>@booking.RegistrationNumber</td>
                    <td>@booking.Vehicle</td>
                    <td>@booking.BookingDate.ToString("dd/MM/yyyy")</td>
                    <td>@booking.PackageName</td>
                    <td>@booking.Status</td>
                </tr>
            }

        </tbody>

    </table>
}

@code {

    private List<BookingDto>? bookings;

    protected override async Task OnInitializedAsync()
    {
        bookings = await BookingApiService.GetAllAsync();
    }

}